<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Countries of the World</title>
		<style>
			table {
				margin: 20px;
			}
			#form-wrapper {
				position: absolute;
				left: 33%;
			}
			ul {
				list-style-type: none;
				text-align: right;
			}
			li {
				display: block;
				margin-bottom: 5px;
			}
		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script type="text/javascript" src="controller.js"></script>
	</head>
	<body>
		<div ng-controller="myController">
			<table border=1>
				<thead>
					<th>Country</th>
					<th>Population</th>
					<th>Chief of State</th>
					<th>Flag Colors</th>
				</thead>
				<tbody>
					<tr ng-repeat="country in countries">
						<td>{{country.name}}</td>
						<td>{{country.population}}</td>
						<td>{{country.chiefOfState}}</td>
						<td>{{country.flagColors}}</td>
					</tr>
				</tbody>
			</table>

			<div id="form-wrapper">
				<form name="form" ng-submit="addCountry()" novalidate>
					<ul>
						<li><label>Name: </label><input type="text" ng-model="newName" name="cName" ng-minlength="3" required></li>
						<li><label>Population: </label><input type="number" ng-model="newPop" name="cPop" min="0" max="7000000000" required></li>
 						<li><label>Chief of State: </label><input type="text" ng-model="newChief" name="cChief" ng-minlength="3" required></li>
						<li><label>Flag Colors: </label><input type="text" ng-model="newColors" name="cColors" ng-minlength="3" required></li>
						<input type="submit" value="Add Country" ng-disabled="form.$invalid">
					</ul>
				</form>
			</div>
		</div>

	</body>
</html>